{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Para quem é este livro ?</h2>
          <p>Este livro é principalmente para estudantes que estão fazendo um curso sobre a linguagem C++, para aqueles que desejam estudar a linguagem C++ por conta própria e para programadores que têm experiência com C e desejam avançar para C++. Também pode ser útil para instrutores do curso de C++ que procuram exemplos explicativos de programação para adicionar em suas aulas.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Qual é o foco deste livro ?</h2>
          <p>O foco deste livro é fornecer uma sólida introdução à linguagem C++ e ao conhecimento de programação por meio de um grande número de exemplos práticos e conselhos significativos. Inclui mais de 500 exercícios e exemplos de dificuldade progressiva para ajudar o leitor a entender os princípios C++ e ver como os conceitos podem se materializar no código.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Quais são os exemplos e exercícios ?</h2>
          <p>Os exemplos são projetados para serem curtos, concretos e substanciais, dando rapidamente ao leitor a capacidade de entender como aplicar correta e eficientemente os recursos da linguagem C++ e obter um sólido conhecimento de programação. Tenha certeza de que, se você for capaz de entender os exemplos deste livro e resolver os exercícios, poderá prosseguir com segurança para editar programas maiores, poderá desenvolver seus próprios aplicativos e certamente terá estabelecido uma sólida base conceitual e prática fundamental para expandir seus conhecimentos e habilidades.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}

